@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Questrial";
}
body.fixed {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  font-family: Questrial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.5px;
  color: #fff;
  padding: 16px;
  background-color: var(--accent-color);
  text-align: center;
}
button {
  border: none;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

header {
  position: sticky;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85px;
  border-bottom: 1px solid rgb(238, 238, 238);
  background-color: #fff;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container {
  position: relative;
  padding: 0 16px;
}
.header .header-body {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.header .logo {
  color: #000000;
}
.header .header-burger {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.26;
  position: relative;
  text-transform: uppercase;
  border-radius: 4px;
  display: none;
  height: 30px;
}
.header .header-burger span {
  display: block;
  width: 21px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header .header-burger span::before, .header .header-burger span::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  right: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header .header-burger span::before {
  top: 7px;
}
.header .header-burger span::after {
  top: 21px;
}
@media screen and (max-width: 1100px) {
  .header .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header .header-burger.active span {
  background-color: transparent;
}
.header .header-burger.active span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  width: 22px;
}
.header .header-burger.active span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  width: 22px;
}
.header .header-nav {
  height: 100%;
}
@media screen and (max-width: 1100px) {
  .header .header-nav {
    position: fixed;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: calc(100vh - 84.5px);
    background-color: #e9e9e9;
    padding-top: 16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
  }
}
.header .header-nav .mob-bottom {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1100px) {
  .header .header-nav .mob-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header .header-nav .mob-bottom .soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-nav .mob-bottom .workTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header-nav .mob-bottom .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: #fff;
  color: #000000;
}
.header .header-nav.active {
  right: 0;
}
.header .nav-list {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1100px) {
  .header .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 32px;
    padding: 16px;
  }
}
.header .nav-item {
  height: 100%;
  position: relative;
}
.header .nav-item img {
  width: 13px;
  margin-left: 4px;
}
@media screen and (max-width: 1100px) {
  .header .nav-item img {
    width: 16px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 1100px) {
  .header .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header .nav-item:hover .sub-menu {
  display: block;
}
.header .nav-item:hover .nav-link, .header .nav-item:active .nav-link, .header .nav-item:focus .nav-link {
  color: var(--accent-color);
  opacity: 1;
}
.header .nav-link {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: #000000;
}
@media screen and (max-width: 1100px) {
  .header .nav-link {
    font-size: 32px;
  }
}
.header .sub-menu {
  background-color: rgb(243, 243, 243);
  width: 200px;
  position: absolute;
  display: none;
  top: 100%;
  -webkit-transition: 0s linear 0.5s;
  transition: 0s linear 0.5s;
  z-index: 1;
}
.header .sub-menu .sub-menu-item {
  position: relative;
}
.header .sub-menu .sub-menu-item a {
  color: #2d2d2d;
  padding: 10px 12px;
  display: block;
}
.header .sub-menu .sub-menu-item:hover {
  background-color: #d4d4d4;
}
@media screen and (max-width: 1100px) {
  .header .sub-menu {
    position: static;
    margin-top: 10px;
  }
}
.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header .right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.5px;
  padding: 16px;
  color: #000000;
  background-color: var(--background);
}
@media screen and (max-width: 700px) {
  .header .right .contact {
    display: none;
  }
}
.header .right .workTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  white-space: nowrap;
}
@media screen and (max-width: 500px) {
  .header .right .workTime {
    display: none;
  }
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 500px) {
  .soc-list {
    display: none;
  }
}

.current .nav-link {
  color: var(--accent-color);
}

.text {
  font-size: 16px !important;
  font-weight: 400;
  line-height: 20.5px;
  color: #7e7e7e;
}

.section-title {
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.card-title {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 990px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.footer .left {
  width: 50%;
  background-color: #212121;
}
@media screen and (max-width: 990px) {
  .footer .left {
    width: 100%;
  }
}
.footer .card {
  padding: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 500px) {
  .footer .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
  }
}
.footer .footer-nav-link {
  font-size: 20px;
  color: #7e7e7e;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer .footer-nav-link.current {
  color: var(--accent-color);
}
.footer .footer-nav-link:hover, .footer .footer-nav-link:focus {
  color: var(--accent-color);
}
.footer .soc-list {
  margin: 32px 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 10px;
}
.footer .logo {
  margin-bottom: 5px;
  color: #fff;
}
.footer .text {
  max-width: 343px;
  text-align: center;
}
.footer .copyright {
  margin-bottom: 32px;
}
.footer .rigth {
  width: 50%;
}
@media screen and (max-width: 990px) {
  .footer .rigth {
    width: 100%;
    height: 297px;
  }
}

:root {
  --accent-color: #ff730f;
  --background: #f5f5f5;
}

.slider {
  position: relative;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.arrows .button {
  background-color: #000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.arrows .button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.arrows .prev {
  background-color: #fff;
}
.arrows .next {
  background-color: var(--accent-color);
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.slick-dots button {
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 0;
  width: 8px;
  height: 8px;
  padding: 0;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: var(--accent-color);
}

/* Элемент точки */
.home-hero {
  height: calc(100vh - 86px);
  position: relative;
}
.home-hero .hero-slider {
  height: 100%;
}
.home-hero .hero-slider .slick-list {
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.home-hero .hero-slider .slick-track {
  height: 100%;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.home-hero .hero-slider .hero-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.home-hero .hero-slider .hero-slide.slick-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
  animation: cssAnimation 5s 1 ease-in-out reverse;
}
.home-hero .container {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}
.home-hero .container .card {
  max-width: 375px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  height: 100%;
}
.home-hero .container .section-subtitle {
  color: #fff;
}
.home-hero .container .section-title {
  text-align: center;
  color: #fff;
}
.home-hero .container .text {
  text-align: center;
  color: #fff;
}
.home-hero .container .btn {
  width: 50%;
}
@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.08) translate(0px);
  }
}
@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.08) translate(0px);
  }
}
.mini-gallery {
  position: relative;
}
.mini-gallery .galerry-slide {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .mini-gallery .galerry-slide {
    height: 350px;
  }
}
.mini-gallery .galerry-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mini-gallery .btn {
  position: absolute;
  z-index: 1000;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mini-gallery .prew {
  left: 0;
  border-radius: 0 8px 8px 0;
}
.mini-gallery .next {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.about-gallery {
  position: relative;
}
.about-gallery .about-gallery-item img {
  width: 100%;
  height: 367px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-gallery .about-gallery-item .text {
  text-align: center;
  padding: 16px;
}
.about-gallery .about-gallery-item:nth-child(2n) .text {
  background-color: #f5f5f5;
}
.about-gallery .btn {
  position: absolute;
  z-index: 1000;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.about-gallery .prew {
  left: 0;
  border-radius: 0 8px 8px 0;
}
.about-gallery .next {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.advantages {
  background-color: #212121;
}
.advantages .container {
  max-width: 100%;
}
.advantages .range-desctop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .advantages .range-desctop {
    display: none;
  }
}
.advantages .range-desctop .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
}
.advantages .range-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .advantages .range-mobile {
    display: block;
  }
}
.advantages .range-mobile .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.advantages .range-mobile .filter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 0;
  background-color: transparent;
  gap: 0;
  background-color: #212121;
}
.advantages .range-mobile .filter-item.current {
  background-color: #fff;
}
.advantages .range-mobile .filter-item .filter-name {
  padding: 16px;
}
.advantages .range-mobile .filter-item .info {
  height: 250px;
}
.advantages .filter-item {
  padding: 16px;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}
.advantages .filter-item .card-title {
  color: #7e7e7e;
}
.advantages .filter-item img {
  width: 56px;
}
.advantages .current {
  background-color: #fff;
}
.advantages .current .card-title {
  color: #000;
}
.advantages .about {
  width: 65%;
}
.advantages .info {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.advantages .hide {
  display: none;
}

.cars {
  background-color: var(--background);
}
.cars .container {
  max-width: 100%;
  padding: 32px;
}
@media screen and (max-width: 650px) {
  .cars .container {
    padding: 0;
  }
}
.cars .cars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.cars .car-item {
  width: calc((100% - 48px) / 3);
  background-color: #fff;
}
.cars .car-item img:not(.charact-list img) {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .cars .car-item {
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (max-width: 650px) {
  .cars .car-item {
    width: 100%;
  }
}
.cars .card {
  padding: 16px;
}
.cars .card .section-title {
  text-align: center;
}
.cars .card .charact-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cars .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}
.cars .arrows .btn {
  background-color: #fff;
  color: #646464;
  padding: 10px;
  width: 50%;
}
@media screen and (min-width: 650px) {
  .cars .arrows {
    display: none;
  }
}

.anout-prew {
  background-size: cover;
  background-position: center;
  padding: 50px 16px;
}
.anout-prew .card {
  max-width: 343px;
  margin: 0 auto;
}
.anout-prew .section-title {
  text-align: center;
  color: #fff;
}
.anout-prew .text {
  text-align: center;
  color: #fff;
}
.anout-prew .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.process .container {
  max-width: 100%;
  padding: 32px 16px;
}
.process .section-subtitle {
  text-align: center;
  margin-bottom: 16px;
  color: #212121;
}
.process .pocess-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 1000px) {
  .process .pocess-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.process .item {
  width: 100%;
  min-height: 231px;
}
@media screen and (max-width: 1000px) {
  .process .item {
    min-height: 100%;
    max-width: 344px;
  }
}
.process .process-item img {
  width: 36px;
  margin: 0 auto;
}
.process .section-title {
  color: var(--accent-color);
  text-align: center;
}
.process .text {
  text-align: center;
}
.process .process-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
}
@media screen and (max-width: 1000px) {
  .process .process-num {
    max-width: 100%;
    height: 100px;
  }
}
.process .process-num .num {
  color: var(--accent-color);
  font-size: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.want-rent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.want-rent .left {
  width: 50%;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .want-rent .left {
    display: none;
  }
}
.want-rent .right {
  width: 50%;
  background-color: var(--accent-color);
  padding: 50px 16px;
}
@media screen and (max-width: 768px) {
  .want-rent .right {
    width: 100%;
  }
}
.want-rent .card {
  max-width: 344px;
  margin: auto;
}
.want-rent .section-subtitle {
  text-align: center;
  color: #fff;
}
.want-rent .section-title {
  color: #fff;
  text-align: center;
}
.want-rent .text {
  color: #fff;
  text-align: center;
}
.want-rent .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.want-rent .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.faq .container {
  padding: 32px 16px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .faq .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.faq .left {
  width: 100%;
  max-width: 343px;
}
.faq .left .section-subtitle {
  color: #7e7e7e;
  margin-bottom: 16px;
}
.faq .right {
  width: 100%;
}
.faq .faq-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.faq .faq-top img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.faq .faq-top.open img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.faq .faq-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.3;
}
.faq .faq-question .num {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: #fff;
  line-height: normal;
}
.faq .answer {
  max-height: 0px;
  opacity: 0;
  margin-bottom: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  pointer-events: none;
}
.faq .answer.open {
  max-height: 200px;
  opacity: 1;
  margin-bottom: 16px;
}
.reviews {
  padding: 32px 16px;
}
.reviews .container {
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 32px 16px;
}
.reviews .top .section-subtitle {
  text-align: center;
  color: #797979;
  margin-bottom: 16px;
}
.reviews .top .section-title {
  text-align: center;
}
.reviews .reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 16px;
  gap: 32px;
}
.reviews .review-item {
  width: calc((100% - 64px) / 3);
}
.reviews .review-item .text {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .reviews .review-item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (max-width: 500px) {
  .reviews .review-item {
    width: 100%;
  }
}
.reviews .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.reviews .icon {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--accent-color);
}
.contacts .conatiner {
  padding: 16px;
  max-width: 100%;
}
.contacts .section-subtitle {
  color: #717171;
}
.contacts .conatact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 744px) {
  .contacts .conatact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts .contact-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.contacts .icon {
  min-width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
}
.contacts .text {
  margin-bottom: 5px;
}
.contacts .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  width: 100%;
}
@media screen and (max-width: 700px) {
  .contacts .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts .form input {
  border: none;
  background-color: #f5f5f5;
  padding: 16px;
  text-align: center;
  font-size: 16px;
}
.contacts .form textarea {
  border: none;
  background-color: #f5f5f5;
  height: 116px;
  padding: 16px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  resize: none;
}
.contacts .form .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
}
.contacts .form .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
}
.hero-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-page .card {
  max-width: 375px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-page .section-title {
  text-align: center;
  color: #fff;
}
.hero-page .text {
  text-align: center;
  color: #fff;
}
.hero-page .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.stat .container {
  max-width: 100%;
}
.stat .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 744px) {
  .stat .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.stat .item {
  width: 33.3333333333%;
}
@media screen and (max-width: 744px) {
  .stat .item {
    width: 100%;
  }
}
.stat .stat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.stat .section-title {
  color: var(--accent-color);
}
.stat .img {
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 744px) {
  .stat .img {
    height: 220px;
  }
}
.rent-prew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 744px) {
  .rent-prew {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rent-prew .left {
  width: 66.777%;
  padding: 32px;
  background-color: #212121;
}
@media screen and (max-width: 744px) {
  .rent-prew .left {
    width: 100%;
  }
}
.rent-prew .section-subtitle {
  color: var(--accent-color);
}
.rent-prew .section-title {
  color: #fff;
}
.rent-prew .text {
  color: #ccc;
}
.rent-prew .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.rent-prew .right {
  width: 33.33333%;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 744px) {
  .rent-prew .right {
    width: 100%;
    height: 224px;
  }
}

.idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 650px) {
  .idea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.idea .left {
  width: 66.7%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 920px) {
  .idea .left {
    width: 33.3%;
  }
}
@media screen and (max-width: 650px) {
  .idea .left {
    width: 100%;
    height: 224px;
  }
}
.idea .right {
  width: 33.3%;
  padding: 32px;
}
@media screen and (max-width: 920px) {
  .idea .right {
    width: 66.7%;
  }
}
@media screen and (max-width: 650px) {
  .idea .right {
    width: 100%;
  }
}
.idea .text {
  font-size: 16px;
}

.gallery {
  padding: 16px;
}
.gallery .gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery .gallery-item {
  width: calc((100% - 32px) / 3);
}
@media screen and (max-width: 1000px) {
  .gallery .gallery-item {
    width: calc((100% - 16px) / 2);
  }
}
@media screen and (max-width: 600px) {
  .gallery .gallery-item {
    width: 100%;
  }
}
.gallery .gallery-item img {
  width: 100%;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 400px) {
  .gallery .gallery-item img {
    height: 300px;
  }
}
.gallery .text {
  padding: 16px;
  color: #fff;
  background-color: #212121;
  text-align: center;
}

.rentDetails .container {
  max-width: 100%;
  padding: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.rentDetails .charact-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rentDetails .btn {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  padding: 16px;
}
.hero .breadcrambs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.hero .breadcrambs-item {
  padding: 16px;
  color: #fff;
  background-color: rgba(245, 245, 245, 0.1);
}
.hero .card {
  max-width: 400px;
}
.hero .section-title {
  color: #fff;
}
.hero .text {
  color: #fff;
}
.hero .info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.hero .info-btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  width: 100%;
}
.hero .info-btn .gallery {
  background-color: #fff;
  color: #000;
}
.hero .options-price {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .hero .options-price {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero .options-price .options-price-item {
  background-color: #fff;
}
.hero .options-price .card {
  padding: 16px;
}
.hero .options-price .hour {
  padding: 8px 16px;
  color: #fff;
  background-color: var(--accent-color);
}
.hero .options-price .price {
  color: #000;
  margin-bottom: 8px;
}
.rent-info .container {
  padding: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 850px) {
  .rent-info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rent-info .left {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 850px) {
  .rent-info .left {
    width: 100%;
  }
}
.rent-info .left .car-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.rent-info .left .car-advantages .advantages-item {
  background-color: var(--background);
  border-radius: 8px;
  padding: 16px;
  width: calc((100% - 32px) / 3);
}
.rent-info .left .car-advantages .advantages-item img {
  width: 32px;
}
@media screen and (max-width: 600px) {
  .rent-info .left .car-advantages .advantages-item {
    width: 100%;
  }
}
.rent-info .right {
  width: 33%;
}
@media screen and (max-width: 850px) {
  .rent-info .right {
    width: 100%;
  }
}
.rent-info .right .section-title {
  color: var(--accent-color);
  margin-bottom: 16px;
}
.rent-info .right .calendar {
  max-width: 440px;
  color: #7e7e7e;
  font-size: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cfcfcf;
}
@media screen and (max-width: 850px) {
  .rent-info .right .calendar {
    max-width: 100%;
  }
}
.rent-info .right .calendar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
}
.rent-info .right .calendar__week {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
}
.rent-info .right .calendar__week span {
  text-align: center;
}
.rent-info .right .calendar__days {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.rent-info .right .calendar__days span {
  padding: 15px 5px;
  text-align: center;
  background-color: #f5f5f5;
}
.rent-info .right .calendar .arrow {
  color: #000000;
  cursor: pointer;
}
.rent-info .right .calendar .curr-day {
  cursor: pointer;
}
.rent-info .right .calendar .curr-day:hover {
  background-color: #ff730f;
  color: white;
}
.rent-info .right .calendar .curr-day.selected {
  background-color: #ff730f;
  color: white;
}
.rent-info .right .calendar .prev-day {
  background-color: white;
}
.rent-info .right .calendar .next-day {
  background-color: white;
}
.rent-info .right .time-select {
  padding-top: 16px;
}
.rent-info .right .selected-date {
  color: #7e7e7e;
  margin-bottom: 16px;
}
.rent-info .right .time-variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.rent-info .right .time-variants-item {
  cursor: pointer;
}
.rent-info .right .time-variants-item .top {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--accent-color);
}
.rent-info .right .time-variants-item .text {
  color: #fff;
}
.rent-info .right .time-variants-item .rem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.rent-info .right .time-variants-item .rem img {
  width: 24px;
}
.rent-info .right .time-variants-item .selected-car {
  padding: 8px;
  background-color: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rent-info .right .time-variants-item.dissabled {
  cursor: not-allowed;
}
.rent-info .right .time-variants-item.dissabled .top {
  background-color: #c3c3c3;
}
.rent-info .right .time-variants-item.dissabled .selected-car {
  color: #7e7e7e;
}
.rent-info .right .time-variants-item.selected {
  outline: 1px solid #ff730f;
}
.rent-info .right .time-variants-item.selected .selected-car {
  background-color: #ffecdf;
}
.rent-info .right .hours-option {
  border-top: 1px solid #cfcfcf;
  padding-top: 16px;
}
.rent-info .right .hours-option [type=radio]:checked,
.rent-info .right .hours-option [type=radio]:not(:checked) {
  position: absolute;
}
.rent-info .right .hours-option [type=radio]:checked + label,
.rent-info .right .hours-option [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 16px;
  color: #000000;
  background-color: var(--background);
  width: 100%;
  margin-bottom: 16px;
}
.rent-info .right .hours-option [type=radio]:checked + label span,
.rent-info .right .hours-option [type=radio]:not(:checked) + label span {
  color: var(--accent-color);
}
.rent-info .right .hours-option [type=radio]:checked + label:before,
.rent-info .right .hours-option [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: var(--background);
}
.rent-info .right .hours-option [type=radio]:checked + label:after,
.rent-info .right .hours-option [type=radio]:not(:checked) + label:after {
  content: "";
  background-image: url("../img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.rent-info .right .hours-option [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.rent-info .right .hours-option [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.rent-info .right .hours-option [type=radio]:checked + label {
  background-color: #ffecdf;
  outline: 1px solid #ff730f;
}
.rent-info .allert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rent-info .allert .text {
  text-align: center;
  color: red;
}
.rent-info .allert img {
  width: 20px;
}
.rent-info .next-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  margin-top: 16px;
  cursor: pointer;
}

.charact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.charact-list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.charact-list p span {
  color: #000;
}

.conditions-list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.conditions-list p:not(:last-child) {
  margin-bottom: 8px;
}

.video-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-container video {
  width: 100%;
  height: 100%;
  max-height: 506px;
  -o-object-fit: cover;
     object-fit: cover;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}
.play-button-wrapper #circle-play-b svg {
  width: 90px;
  height: 90px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 50%;
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  .play-button-wrapper #circle-play-b svg {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 450px) {
  .play-button-wrapper #circle-play-b svg {
    width: 55px;
    height: 55px;
  }
}

.contactUs {
  background-color: var(--accent-color);
  padding: 32px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactUs .card {
  max-width: 704px;
  margin: 0 auto;
  text-align: center;
}
.contactUs .section-subtitle {
  color: #fff;
}
.contactUs .section-title {
  color: #fff;
}
.contactUs .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.contactUs .btn {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  width: 100%;
  max-width: 140px;
}

.similar {
  background-color: var(--background);
}
.similar .container {
  padding: 16px;
}
.similar .section-subtitle {
  color: #7e7e7e;
}
.similar .similar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.similar .car-item {
  width: calc((100% - 48px) / 3);
  background-color: white;
}
@media screen and (max-width: 768px) {
  .similar .car-item {
    width: 100%;
  }
}
.similar .car-item img:not(.charact-list img) {
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}
.similar .car-item .btn {
  display: block;
}
.similar .card {
  padding: 16px;
  text-align: center;
}
.similar .charact-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: "";
  background: #cccccc;
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  border-radius: 4px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: var(--accent-color);
}

.drop {
  /* input file style */
}
.drop .btn-tertiary {
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.drop .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.drop .input-file.js-labelFile {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}

.rent-wrapper {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.7450980392);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  overflow: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.rent-wrapper.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.rent-wrapper .next-step-popup {
  width: 100%;
  max-width: 744px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  position: relative;
}
.rent-wrapper .close {
  position: absolute;
  right: 0;
  top: -25px;
  cursor: pointer;
}
.rent-wrapper .banner {
  height: 300px;
}
.rent-wrapper .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rent-wrapper .card {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.rent-wrapper .hours {
  padding: 16px;
  background-color: var(--accent-color);
  color: #fff;
}
.rent-wrapper .user-form p {
  margin-bottom: 16px;
}
.rent-wrapper .user-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.rent-wrapper .user-form form input {
  border: none;
  padding: 16px;
  background-color: var(--background);
  font-family: inherit;
  font-size: 15px;
}
.rent-wrapper .user-form form input::-webkit-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .user-form form input::-moz-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .user-form form input:-ms-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .user-form form input::-ms-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .user-form form input::placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .confirm select {
  border: none;
  padding: 16px;
  background-color: var(--background);
  font-family: inherit;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/ExpandBlack.svg") 95%/2% no-repeat #eee;
}
.rent-wrapper .confirm select::-webkit-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .confirm select::-moz-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .confirm select:-ms-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .confirm select::-ms-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .confirm select::placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .confirm-rules {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 32px;
}
.rent-wrapper .confirm-rules .text {
  max-height: 644px;
  overflow: auto;
}
.rent-wrapper .confirm-rules label {
  font-size: 20px;
}
.rent-wrapper .drop-place {
  border: 1px dashed gray;
  border-radius: 8px;
  padding: 32px;
}
.rent-wrapper .drop-place .section-subtitle {
  text-align: center;
  color: #7e7e7e;
}
.rent-wrapper .drop-place .btn {
  width: 100%;
}
.rent-wrapper .total .section-title {
  text-align: center;
}
.rent-wrapper .total-title {
  width: 100%;
  color: #fff;
  background-color: #212121;
  text-align: center;
  padding: 16px;
}
.rent-wrapper .subtotal {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}
.rent-wrapper .subtotal .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.rent-wrapper .subtotal .text span {
  color: #000;
  font-size: 20px;
}
.rent-wrapper .comment {
  border: none;
  background-color: var(--background);
  resize: none;
  height: 100px;
  padding: 16px;
  font-family: inherit;
  font-size: 15px;
}
.rent-wrapper .comment::-webkit-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .comment::-moz-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .comment:-ms-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .comment::-ms-input-placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .comment::placeholder {
  text-align: center;
  font-size: 15px;
}
.rent-wrapper .require {
  text-align: center;
}
.rent-wrapper .require span {
  color: red;
  font-size: 18px;
}

.red {
  color: red;
}