.text {
  font-size: 16px !important;
  font-weight: 400;
  line-height: 20.5px;
  color: #7e7e7e;
}
.section-title {
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.section-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.card-title {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
